* {
    box-sizing: border-box;
    font-family: Hevetica, sans-serif;
}

h1 {
    background-image: url(/resources/images/pattern.webp);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames{
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 40px;
}

/* make sure your class and id names 
have meaning instead of "blue" or "bold" */

